@media screen and (max-device-width: 430px) {
    .wrap{
        width: 100%;
        overflow-x: hidden;
            .header{
                .header_nav{
                    display: none;
                }
                .header_languageThemeCon{
                    display: none;
                }
                .header_burger{
                    display: flex;
                }
            }
            .dishesContainer{
                .dishesContainer_typeChoise{
                    width: 100%;
                    flex-wrap: wrap;
                    .dishesContainer_typeChoise_item{
                        width: 160px;
                        margin-bottom: 25px;
                    }
                }
            }
}}