@media screen and (max-device-width: 430px) {
    .wrap{
        width: 100%;
        overflow-x: hidden;
        .screen{
            width: 100%;
            padding: 20px;
        }
        .mainPage{
            .header{
                .header_nav{
                    display: none;
                }
                .header_languageThemeCon{
                    display: none;
                }
            }
            .mainPage_content{
                margin-top: -40px;
                flex-direction: column-reverse;
                .mainPage_content_textPart{
                    width: 100%;
                    .mainPage_content_title{
                        font-size: 40px;
                    }
                    .mainPage_content_text{
                        font-size: 16px;
                        margin-top: 7px;
                    }
                    .mainPage_content_buttons{
                        width: 370px;
                    }
                    .mainPage_content_button{
                        width: 173px;
                        height: 63px;
                        font-size: 24px;
                    }
                }
                .mainPage_content_imgPart{
                    .mainPage_content_imgPart_FullImg{
                        .mainPage_bowlImg{
                            width: 169px;
                            left: 15px;
                        }
                        .mainPage_sushiImg{
                            width: 310px;
                            left: 75px;
                        }
                    }

                }

            }
        }

    }

}