@media screen and (max-device-width: 430px) {
    .wrap{
        width: 100%;
        overflow-x: hidden;
        .screen{
            width: 100%;
            padding: 20px;
        }
        .mainPage{
            .header{
                .header_nav{
                    display: none;
                }
                .header_languageThemeCon{
                    display: none;
                }
                .header_burger{
                    display: flex;
                }
            }
            .mainPage_content{
                margin-top: -40px;
                flex-direction: column-reverse;
                .mainPage_content_textPart{
                    width: 100%;
                    .mainPage_content_title{
                        font-size: 40px;
                    }
                    .mainPage_content_text{
                        font-size: 16px;
                        margin-top: 7px;
                    }
                    .mainPage_content_buttons{
                        width: 370px;
                    }
                    .mainPage_content_button{
                        width: 173px;
                        height: 63px;
                        font-size: 24px;
                    }
                }
                .mainPage_content_imgPart{
                    .mainPage_content_imgPart_FullImg{
                        .mainPage_bowlImg{
                            width: 169px;
                            left: 15px;
                        }
                        .mainPage_sushiImg{
                            width: 310px;
                            left: 75px;
                        }
                    }

                }

            }
            .mainPage_background{
                height: 840px;
            }
        }
        .locationPage{
            position: relative;
            margin-top: -50px;
            .locationPage_title{
                font-size: 36px;
            }
            .mainlandImg{
                transform: scale(0.5);
            }
            .locationPage_worldContainer{
                height: 300px;
                margin-top: -30px;
                .NorthAmericaContainer{
                    left: -74px;
                }
                #SouthAmerica{
                    left: 0px;
                    top: 93px;
                    left: 13px;
                }
                #Africa{
                    left: 0;
                    top: 45px;
                    left: 70px;
                }
                #Eurasia{
                    top: -5px;
                    left: 21px;
                }
                #Oceania{
                    left: 0;
                    top: 98px;
                    left: 241px;
                }
            }
            .locationPage_statistics{
                width: 90%;
                flex-wrap: wrap;
                .locationPage_statistics_column_adapriveMargin{
                    margin-top: 20px;
                }
            }


        }
        .dishPage{
            margin-top: -250px;
            .dishPage_textContainer{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                .dishPage_textContainer_title{
                    font-size: 36px;
                }
                .dishPage_img{
                    left: -450px;
                    transform: scale(0.5);
                    top: -400px;
                }
                .dishPage_textContainer_mainText{
                    margin-top: 500px;
                    font-weight: 200;
                }
                .dishPage_textContainer_btnsCon{
                    width: 100%;
                }
            }
            .dishPage_sushiInfo{
                margin-top: -320px;
                .dishPage_sushiInfo_name{
                    font-size: 24px;
                }
                .dishPage_sushiInfo_price{
                    font-size: 20px;
                }
            }

        }
        .futer{
            padding: 20px;
            margin-top: -80px;
            .futer_hr_container{
                width: 100%;
            }
            .futer_infoCon{
                flex-direction: column;
                .futer_infoCon_text{
                    width: 100%;
                    .futer_infoCon_text_columns{
                        width: 170px;
                        position: relative;
                        width: 100%;
                        margin-top: -40px;
                        .futer_infoCon_text_column_Navigation{
                            .futer_infoCon_text_column_heading{
                                font-size: 20px;
                            }
                            .futer_infoCon_text_column_el{
                                font-size: 14px;
                            }
                        }
                        .futer_infoCon_text_column_Help{
                            position: absolute;
                            left: 134px;
                            .futer_infoCon_text_column_heading{
                                font-size: 20px;
                            }
                            .futer_infoCon_text_column_el{
                                font-size: 14px;
                            }
                        }
                        .futer_infoCon_text_column_Amenities{
                            position: absolute;
                            text-align: right;
                            top: 150px;
                            right: 20px;
                            .futer_infoCon_text_column_heading{
                                font-size: 20px;
                            }
                            .futer_infoCon_text_column_el{
                                font-size: 14px;
                            }
                        }

                    }
                    .futer_infoCon_text_Yorokobi{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        margin-top: 160px;
                        .futer_infoCon_text_Yorokobi_Logo{
                            transform: scale(0.7);
                            margin-left: -20px;
                        }
                        .futer_infoCon_text_Yorokobi_text{
                            width: 100%;
                            font-size: 10px;
                        }
                    }
                }
                .futer_infoCon_pictures{
                    img{
                        transform: scale(0.4);
    
                    }
                    .futer_infoCon_pictures_sushi1{
                        left: 200px;
                        top: -436px;
                    }
                    .futer_infoCon_pictures_sushi2{
                        left: -80px;
                        top: -290px;
                    }
                }
            }


        }

    }
    .cookiesPopupCon{
        padding: 20px;
        .cookiesPopup{
            width: 100%;
            flex-direction: column;
            padding: 20px;
            min-height: 500px;
            .cookiesPopup_left{
                width: 100%;
                .cookiesPopup_title{
                    font-size: 36px;
                }
                .cookiesPopup_text{
                    margin-top: 0px;
                    font-size: 16px;
                }
                .cookiesPopup_accept{
                    width: 150px;
                    height: 45px;
                    font-size: 18px;
                    border-radius: 10px;
                }
            }
            .cookiesPopup_right{
                width: 100%;
                height: 200px;
                margin-top: 15px;
                .cookieMainPart{
                    width: 150px;
                    height: 150px;
                }
                .cookieCrumb1{
                    width: 18px;
                    height: 18px;
                    top: 120px;
                    left: 210px;
                }
                .cookieCrumb2{
                    width: 5px;
                    height: 5px;
                    top: 135px;
                    left: 190px;
                }
                .cookieCrumb3{
                    width: 5px;
                    height: 5px;
                    top: 110px;
                    left: 200px;
                }
            }
        }
    }
    .burgerCon{
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: rgba(19, 22, 27, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        padding: 20px;
        .burger{
            width: 100%;
            height: 400px;
            background-color: #F73859;
            border-radius: 20px;
            padding: 15px;
            .burger_link{
                color: #13161B;
                font-size: 32px;
                font-weight: 400;
            }
        }
}

}