*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MuseoModerno;
}
::selection{
    background-color: #13161B;
    color: #CB324D;
}
::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #13161B; 
}

::-webkit-scrollbar-thumb {
    background: #CB324D; 
    border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #882133; 
}
.cookiesPopupCon{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(19, 22, 27, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    .cookiesPopup{
        width: 950px;
        height: 400px;
        border-radius: 20px;
        background-color: #F73859;
        padding: 35px;
        display: flex;
        .cookiesPopup_left{
            width: 53%;
            .cookiesPopup_title{
                color: #13161B;
                font-size: 40px;
                font-weight: 700;
            }   
            .cookiesPopup_text{
                font-size: 18px;
                font-weight: 300;
                width: 100%;
                color: #fff;
                margin-top: 10px;
            }      
            .cookiesPopup_accept{
                font-size: 32px;
                font-weight: 500;
                width: 218px;
                height: 74px;
                border: 2px #13161B solid;
                border-radius: 20px;
                color: #13161B;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                transition: 0.5s ease;
                cursor: pointer;
            }  
            .cookiesPopup_accept:hover{
                background-color: #13161B;
                color: #F73859;
            }
        }
        .cookiesPopup_right{
            width: 47%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                position: absolute;
                transition: 1s ease;
            }
            .cookieMainPart{
                width: 250px;
                height: 250px;
            }
            .cookieCrumb1{
                width: 26px;
                height: 26px;
                top: 240px;
                left: 270px;
            }
            .cookieCrumb2{
                width: 8px;
                height: 8px;
                top: 267px;
                left: 247px;
            }
            .cookieCrumb3{
                width: 8px;
                height: 8px;
                top: 225px;
                left: 255px;
            }
        }
    }
}
.burgerCon{
    display: none;
}
.wrap{
    width: 100%;
    min-height: 100vh;
    background-color: #13161B;
    overflow-x: hidden;
    .header{
        position: relative;
        z-index: 3;
        user-select: none;
        display: flex;
        justify-content: space-between;
        background-color: #CB324D;
        width: 100%;
        padding: 40px 40px 0 40px;

        .header_burger{
            width: 40px;
            height: 26px;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            .header_burgerRow{
                width: 100%;
                height: 4px;
                border-radius: 20px;
                background-color: #13161B;
            }
        }
        .header_logo{
            width: 169px;
        }
        .header_nav{
            width: 545px;
            display: flex;
            justify-content: space-between;
            .header_nav_el{
                font-size: 24px;
                font-weight: 500;
                cursor: pointer;
                transition: 0.5s ease;
                display: flex;
                flex-direction: column;
                align-items: center;
                .headerActivePage{
                    width: 40px;
                    height: 2px;
                    border-radius: 5px;
                    background-color: #13161B;
                }
            }
            #orders{
                position: relative;
                .ordersCount{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #13161B;
                    color: #CB324D;
                    width: 17px;
                    height: 17px;
                    border-radius: 50%;
                    font-size: 12px;
                    font-weight: 700;
                    top: 2px;
                    left: 68px;
                }
            }
        }
        .header_languageThemeCon{
            width: 182px;
            display: flex;
            justify-content: space-between;
            .header_theme{
                width: 67px;
                height: 34px;
                background-color: #13161B;
                display: flex;
                justify-content: flex-end;
                border-radius: 20px;
                cursor: pointer;
                .header_themeCircle{
                    width: 34px;
                    height: 34px;
                    background-color: #CB324D;
                    border: #13161B 3px solid;
                    border-radius: 50%;
                }
            }
            .header_language{
                border: none;
                background-color: #CB324D;
                font-size: 24px;
                font-weight: 600;
            }
        }
        a{
            color: #13161B;
            text-decoration: none;
        }
    }
    .home{
        .screen{
            width: 100%;
            min-height: 100vh;
            padding: 40px;
        }
        .mainPage{
            position: relative;
            color: #13161B;

            .mainPage_background{
                width: 100%;
                height: 99%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                option{
                    border: none;
                }
            }
            .mainPage_content{
                width: 100%;
                display: flex;
                justify-content: space-between;
                z-index: 200;
                position: relative;
                margin-top: 60px;
                .mainPage_content_textPart{
                    width: 50%;
                    height: 340px;
                    .mainPage_content_title{
                        font-size: 64px;
                        font-weight: 700;
                    }
                    .mainPage_content_text{
                        font-size: 20px;
                        font-weight: 300;
                        color: #ffffffbd;
                        width: 90%;
                    }
                    .mainPage_content_buttons{
                        width: 570px;
                        display: flex;
                        justify-content: space-between;
                    }
                    .mainPage_content_button{
                        width: 268px;
                        height: 79px;
                        background-color: #13161B;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 30px;
                        color: #CB324D;
                        font-size: 32px;
                        font-weight: 600;
                        cursor: pointer;
                        transition: 0.4s ease;
                        margin-top: 30px;
                    }
                }
                .mainPage_content_imgPart{
                    width: 50%;
                    height: 340px;
                    position: relative;
                    user-select: none;
                    .mainPage_content_imgPart_FullImg{
                        position: relative;
                        width: 100%;
                        height: 100%;
                        .mainPage_bowlImg{
                            width: 252px;
                            position: absolute;
                            bottom: 0;
                            left: 110px;
                        }
                        .mainPage_sushiImg{
                            width: 420px;
                            position: absolute;
                            left: 185px;
                            bottom: 45px;
                            transition: 1s ease;
                        }
                    }
    
    
                }
            }
    
        }
        .locationPage{
            display: flex;
            flex-direction: column;
            align-items: center;
            .locationPage_title{
                font-size: 48px;
                font-weight: 700;
                color: #F73859;
            }
            .locationPage_worldContainer{
                width: 100%;
                height: 420px;
                position: relative;
                .mainlandImg{
                    position: absolute;
                    transition: 0.5s ease;
                }
                .NorthAmericaContainer{
                    // background-color: #fff;
                    width: 255px;
                    height: 229px;
                    left: 328px;
                    position: absolute;
                    transition: 0.5s ease;
    
                    #NorthAmerica{
                        width: 100%;
                        height: 100%;
                        position: relative;
                    }
                    .NorthAmericaContainer_points{
                        position: absolute;
                        .NorthAmericaContainer_point{
                            width: 15px;
                            position: absolute;
                            display: flex;
                            transition: 0.5s ease;
                        }
                        #mapPoint1{
                            top: 30px;
                            left: 373px;
                        }
                        #mapPoint2{
                            top: 48px;
                            left: 385px;
                        }
                        #mapPoint3{
                            top: 60px;
                            left: 398px;
                        }
                        #mapPoint4{
                            top: 80px;
                            left: 377px;
                        }
                        #mapPoint5{
                            top: 98px;
                            left: 365px;
                        }
                        #mapPoint6{
                            top: 97px;
                            left: 410px;
                        }
                        #mapPoint7{
                            top: 130px;
                            left: 384px;
                        }
                        #mapPoint8{
                            top: 160px;
                            left: 392px;
                        }
                        #mapPoint9{
                            top: 57px;
                            left: 470px;
                        }
                        #mapPoint10{
                            top: 110px;
                            left: 450px;
                        }
                        #mapPoint11{
                            top: 43px;
                            left: 530px;
                        }
                        #mapPoint12{
                            top: 55px;
                            left: 545px;
                        }
                    }
                }
    
                #SouthAmerica{
                    width: 160px;
                    height: 228px;
                    top: 185px;
                    left: 447px;
                }
                #Africa{
                    width: 240px;
                    height: 256px;
                    left: 590px;
                    top: 100px;
                    z-index: 20;
                }
                #Eurasia{
                    width: 475px;
                    height: 244px;
                    left: 613px;
                    z-index: 19;
                }
                #Oceania{
                    width: 200px;
                    height: 201px;
                    left: 920px;
                    top: 184px;
                }
            }
            .locationPage_statistics{
                width: 683px;
                display: flex;
                justify-content: space-between;
                .locationPage_statistics_column{
                    width: 171px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    .locationPage_statistics_num{
                        font-size: 36px;
                        font-weight: 500;
                        color: #F73859;
                    }
                    .locationPage_statistics_desc{
                        width: 140px;
                        font-size: 16px;
                        font-weight: 300;
                        color: #fff;
                    }
                }
            }
    
        }
        .dishPage{
            position: relative;
            overflow-x: hidden;
            overflow-y: hidden;
            .dishPage_textContainer{
                width: 484px;
                .dishPage_textContainer_title{
                    font-size: 40px;
                    font-weight: 600;
                    color: #F73859;
                }
                .dishPage_textContainer_mainText{
                    font-size: 16px;
                    font-weight: 400;
                    color: #fff;
                }
                .dishPage_textContainer_btnsCon{
                    width: 370px;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 22px;
                }
                .dishPage_textContainer_btn{
                    width: 176px;
                    height: 56px;
                    background-color: #F73859;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #13161B;
                    border-radius: 30px;
                    font-size: 20px;
                    font-weight: 600;
                    transition: 0.3s;
                    cursor: pointer;
                }
                .dishPage_textContainer_btn:hover{
                    background-color: #13161B;
                    color: #F73859;
                    border: 2px #F73859 solid;
                }
            }
            .dishPage_img{
                width: 1400px;
                position: absolute;
                top: -140px;
                left: 320px;
            }
            .dishPage_sushiInfo{
                margin-top: 230px;
                .dishPage_sushiInfo_name{
                    font-size: 36px;
                    font-weight: 800;
                    color: #F73859;
                }
                .dishPage_sushiInfo_price{
                    font-size: 24px;
                    font-weight: 300;
                    color: #fff;
                }
            }
    
        }
        .futer{
            width: 100%;
            min-height: 450px;
            padding: 70px;
            .futer_hr_container{
                width: 100%;
                display: flex;
                justify-content: center;
                .futer_hr{
                    width: 1059px;
                    height: 1px;
                    background-color: #F73859;
                }
            }
            .futer_infoCon{
                width: 100%;
                display: flex;
                .futer_infoCon_text{
                    width: 40%;
                    margin-top: 60px;
    
                    .futer_infoCon_text_columns{
    
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        .futer_infoCon_text_column{
                            width: 195px;
                            display: flex;
                            flex-direction: column;
                            .futer_infoCon_text_column_heading{
                                font-size: 24px;
                                font-weight: 500;
                                color: #F73859;
                            }
                            .futer_infoCon_text_column_el{
                                font-size: 16px;
                                font-weight: 300;
                                color: #fff;
                            }
                        }
                    }
                    .futer_infoCon_text_Yorokobi{
                        margin-top: 50px;
                        .futer_infoCon_text_Yorokobi_Logo{
                            width: 120px;
                        }
                        .futer_infoCon_text_Yorokobi_text{
                            width: 545px;
                            font-size: 14px;
                            font-weight: 400;
                            color: #fff;
                            margin-top: -5px;
                        }
                    }
    
                }
                .futer_infoCon_pictures{
                    width: 50%;
                    position: relative;
                    .futer_infoCon_pictures_sushi1{
                        position: absolute;
                        top: 0;
                        width: 194px;
                        left: 200px;
                    }
                    .futer_infoCon_pictures_sushi2{
                        width: 258px;
                        position: absolute;
                        bottom: -60px;
                        left: 570px;
                    }
                }
            }
    
    
        }
    }
    .menu{
        .header{
            position: relative;
            z-index: 3;
            user-select: none;
            display: flex;
            justify-content: space-between;
            padding: 40px;
            background-color: #13161B;
            .header_burger{
                width: 40px;
                height: 26px;
                display: none;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                .header_burgerRow{
                    width: 100%;
                    height: 4px;
                    border-radius: 20px;
                    background-color: #F73859;
                }
            }
            .header_logo{
                width: 169px;
            }
            .header_nav{
                width: 545px;
                display: flex;
                justify-content: space-between;
                .header_nav_el{
                    font-size: 24px;
                    font-weight: 500;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #F73859;
                    .headerActivePage{
                        width: 40px;
                        height: 2px;
                        border-radius: 5px;
                        background-color: #F73859;
                    }
                }
                #orders{
                    position: relative;
                    .ordersCount{
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #F73859;
                        color: #13161B;
                        width: 17px;
                        height: 17px;
                        border-radius: 50%;
                        font-size: 12px;
                        font-weight: 700;
                        top: 2px;
                        left: 68px;
                    }
                }
            }
            .header_languageThemeCon{
                width: 182px;
                display: flex;
                justify-content: space-between;
                .header_theme{
                    width: 67px;
                    height: 34px;
                    background-color: #F73859;
                    display: flex;
                    justify-content: flex-end;
                    border-radius: 20px;
                    cursor: pointer;
                    .header_themeCircle{
                        width: 34px;
                        height: 34px;
                        background-color: #13161B;
                        border: #F73859 3px solid;
                        border-radius: 50%;
                    }
                }
                .header_language{
                    border: none;
                    background-color: #13161B;
                    font-size: 24px;
                    font-weight: 600;
                    color: #F73859;
                }
            }
            a{
                color: #F73859;
                text-decoration: none;
            }
        }
        .dishesContainer{
            width: 100%;
            min-height: 80vh;
            padding:0 40px 0 40px;
            .dishesContainer_typeChoise{
                width: 100%;
                display: flex;
                justify-content: space-between;
                .dishesContainer_typeChoise_item{
                    width: 211px;
                    height: 73px;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px #F73859 solid;
                    font-size: 24px;
                    font-weight: 400;
                    color: #F73859;
                    background-color: #13161B;
                    cursor: pointer;
                    letter-spacing: 4px;
                    user-select: none;
                    transition: 0.5s ease;
                }
                #sushi{
                    background-color: #F73859;
                    color: #fff;
                }
    
            }
            .dishesContainer_dishes{
                width: 100%;
                min-height: 200px;
                display: flex;
                flex-wrap: wrap;
                margin-top: 100px;
                padding: 0 40px 0 40px;
                justify-content: space-between;
                .dishesContainer_sushi{
                    width: 260px;
                    color: #F73859;
                    margin: 0 40px 60px 0;
                    .dishesContainer_sushi_img{
                        // width: 260px;
                        height: 150px;
                    }
                    .dishesContainer_sushi_namePriceCon{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        .dishesContainer_sushi_name{
                            width: 150px;
                            font-size: 20px;
                            font-weight: 400;
                            // background-color: #fff;
                            // height: 65px;
                        }
                        .dishesContainer_sushi_price{
                            font-size: 20px;
                            font-weight: 700;
                        }
                    }
                    .dishesContainer_sushi_availability{
                        color: #fff;
                        font-size: 16px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        i{
                            margin-left: 7px;
                        }
    
                    }
                    .dishesContainer_sushi_btns{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 9px;
                        .dishesContainer_sushi_btn{
                            width: 126px;
                            height: 35px;
                            border-radius: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 16px;
                            font-weight: 600;
                            border: 1px #F73859 solid;
                            transition: 0.5s ease;
                            cursor: pointer;
                        }
                        .dishesContainer_sushi_btn:hover{
                            border: 1px #F73859 solid;
                            background-color: #F73859;
                            color: #fff;
                        }
                    }
                    .dishesContainer_sushi_rating{
                        color: #F73859;
                        width: 124px;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 12px;
                    }
                }
            }
        }
    }
    .orders{
        padding: 40px;
        .screen{
            width: 100%;
            min-height: 100vh;
            padding: 40px;
        }
        .header{
            position: relative;
            z-index: 3;
            user-select: none;
            display: flex;
            justify-content: space-between;
            .header_burger{
                width: 40px;
                height: 26px;
                display: none;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                .header_burgerRow{
                    width: 100%;
                    height: 4px;
                    border-radius: 20px;
                    background-color: #F73859;
                }
            }
            .header_logo{
                width: 169px;
            }
            .header_nav{
                width: 545px;
                display: flex;
                justify-content: space-between;
                .header_nav_el{
                    font-size: 24px;
                    font-weight: 500;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #F73859;
                    .headerActivePage{
                        width: 40px;
                        height: 2px;
                        border-radius: 5px;
                        background-color: #F73859;
                    }
                }
                #orders{
                    position: relative;
                    .ordersCount{
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #F73859;
                        color: #13161B;
                        width: 17px;
                        height: 17px;
                        border-radius: 50%;
                        font-size: 12px;
                        font-weight: 700;
                        top: 2px;
                        left: 68px;
                    }
                }
            }
            .header_languageThemeCon{
                width: 182px;
                display: flex;
                justify-content: space-between;
                .header_theme{
                    width: 67px;
                    height: 34px;
                    background-color: #F73859;
                    display: flex;
                    justify-content: flex-end;
                    border-radius: 20px;
                    cursor: pointer;
                    .header_themeCircle{
                        width: 34px;
                        height: 34px;
                        background-color: #13161B;
                        border: #F73859 3px solid;
                        border-radius: 50%;
                    }
                }
                .header_language{
                    border: none;
                    background-color: #13161B;
                    font-size: 24px;
                    font-weight: 600;
                    color: #F73859;
                }
            }
            a{
                color: #F73859;
                text-decoration: none;
            }
        }
        .leftPart{
            width: 50%;
            h3{
                color: #fff;
                font-size: 36px;
                font-weight: 600;
                margin-top: 20px;
            }
            .ordersContainer{
                width: 100%;
                height: 70vh;
                margin-top: 40px;
                .order{
                    width: 100%;
                    height: 100px;
                    border: #F73859 2px solid;
                    border-radius: 30px;
                    display: flex;
                    padding: 16px 40px;
                    align-items: center;
                    margin-bottom: 50px;
                    .order_name{
                        color: #F73859;
                        font-size: 24px;
                        font-weight: 600;
                        width: 300px;
                    }
                    .order_separetiveLine{
                        width: 3px;
                        height: 85%;
                        background-color: #F73859;
                        border-radius: 6px;
                    }
                    .orderBtns{
                        width: 430px;
                        display: flex;
                        justify-content: center;
                        .orderBtn{
                            width: 80px;
                            height: 55px;
                            background-color: #13161B;
                            color: #fff;
                            border: 1px #fff solid;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 20px;
                            font-weight: 400;
                            border-radius: 20px;
                            cursor: pointer;
                            transition: 0.5s ease;
                        }
                        .orderBtn:hover{
                            background-color: #F73859;
                            color: #fff;
                            border: 1px #F73859 solid;
                        }
                        .order_infoBtn{
                            margin-right: 30px;
                        }
                    }
                    .order_time{
                        width: 380px;
                        color: #fff;
                        font-size: 24px;
                        font-weight: 300;
                        padding: 40px;
                    }
                    .order_price{
                        width: 290px;
                        display: flex;
                        justify-content: center;
                        font-size: 32px;
                        font-weight: 600;
                        color: #fff;
                    }
                }
            }
        }

    }
    .contacts{
        padding: 0px 40px 40px 40px;

        .header{
            position: relative;
            z-index: 3;
            user-select: none;
            display: flex;
            justify-content: space-between;
            .header_burger{
                width: 40px;
                height: 26px;
                display: none;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                .header_burgerRow{
                    width: 100%;
                    height: 4px;
                    border-radius: 20px;
                    background-color: #F73859;
                }
            }
            .header_logo{
                width: 169px;
            }
            .header_nav{
                width: 545px;
                display: flex;
                justify-content: space-between;
                .header_nav_el{
                    font-size: 24px;
                    font-weight: 500;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #F73859;
                    .headerActivePage{
                        width: 40px;
                        height: 2px;
                        border-radius: 5px;
                        background-color: #F73859;
                    }
                }
                #orders{
                    position: relative;
                    .ordersCount{
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #F73859;
                        color: #13161B;
                        width: 17px;
                        height: 17px;
                        border-radius: 50%;
                        font-size: 12px;
                        font-weight: 700;
                        top: 2px;
                        left: 68px;
                    }
                }
            }
            .header_languageThemeCon{
                width: 182px;
                display: flex;
                justify-content: space-between;
                .header_theme{
                    width: 67px;
                    height: 34px;
                    background-color: #F73859;
                    display: flex;
                    justify-content: flex-end;
                    border-radius: 20px;
                    cursor: pointer;
                    .header_themeCircle{
                        width: 34px;
                        height: 34px;
                        background-color: #13161B;
                        border: #F73859 3px solid;
                        border-radius: 50%;
                    }
                }
                .header_language{
                    border: none;
                    background-color: #13161B;
                    font-size: 24px;
                    font-weight: 600;
                    color: #F73859;
                }
            }
            a{
                color: #F73859;
                text-decoration: none;
            }
        }
        .contactsConainer{
            width: 100%;
            display: flex;
            margin-top: 10px;
            .connectionForm{
                width: 50%;
                h1{
                    font-size: 40px;
                    font-weight: 700;
                    color: #F73859;
                }
                h5{
                    font-size: 20px;
                    font-weight: 400;
                    color: #fff;
                    margin-bottom: 20px;
                }
                .connectionForm_form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 488px;
    
                    input{
                        width: 488px;
                        height: 58px;
                        border-radius: 20px;
                        border: 2px #F73859 solid;
                        background-color: #13161B;
                        padding: 14px;
                        outline: none;
                        color: #fff;
                        margin-bottom: 30px;
                        font-size: 20px;
                        font-weight: 300;
                    }
                    textarea{
                        width: 488px;
                        height: 238px;
                        border-radius: 20px;
                        border: 2px #F73859 solid;
                        background-color: #13161B;
                        padding: 14px;
                        resize: none;
                        outline: none;
                        color: #fff;
                        font-size: 20px;
                        font-weight: 300;
                    }
                    #sendBtn{
                        width: 175px;
                        height: 69px;
                        border-radius: 20px;
                        background-color: #fff;
                        color: #13161B;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 32px;
                        font-weight: 400;
                        cursor: pointer;
                        margin-top: -35px;
                        transition: 0.5s ease;
                    }
                    #sendBtn:hover{
                        background-color: #F73859;
                        color: #13161B;
                    }
                }
            }
            .separetiveLine{
                width: 2px;
                height: 560px;
                border-radius: 6px;
                background-color: #F73859;
                margin: 0 50px;
            }
            .locationAndHours{
                width: 50%;
                h1{
                    font-size: 40px;
                    font-weight: 700;
                    color: #F73859;
                }
                h5{
                    font-size: 16px;
                    font-weight: 400;
                    color: #fff;
                    margin-bottom: 20px;
                }
                .locationAndHours_hoursAndMedia{
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    .locationAndHours_hours{
                        .locationAndHours_hours_daysClasification{
                            display: flex;
                            font-size: 16px;
                            font-weight: 400;
                            .locationAndHours_hours_days{
                                color: #F73859;
                            }
                            .locationAndHours_hours_hours{
                                color: #fff;
                                margin-left: 6px;
                            }
                        }
                    }
                    .locationAndHours_media{
                        width: 225px;
                        display: flex;
                        justify-content: space-between;
                        color: #F73859;
                        i{
                            font-size: 40px;
                            transition: 0.3s ease;
                        }
                        i:hover{
                            color: #fff;
                        }
                    }
                }
                iframe{
                    margin-top: 28px;
                }
                a{
                    text-decoration: none;
                    button{
                        width: 100%;
                        height: 72px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #13161B;
                        color: #fff;
                        border-radius: 20px;
                        border: 2px solid #F73859;
                        font-size: 24px;
                        font-weight: 600;
                        cursor: pointer;
                        margin-top: 30px;
                        transition: 0.5s ease;
                        i{
                            margin-right: 15px;
                        }
                    }
                    button:hover{
                        background-color: #F73859;
                        color: #fff;
                    }
        
                }
                
            }
        }
    }

}
