*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MuseoModerno;
}
::selection{
    background-color: #13161B;
    color: #CB324D;
}
.wrap{
    width: 100%;
    min-height: 100vh;
    background-color: #13161B;
    .screen{
        width: 100%;
        height: 100vh;
        padding: 40px;
    }
    .mainPage{
        position: relative;
        color: #13161B;
        .header{
            position: relative;
            z-index: 3;
            user-select: none;
            display: flex;
            justify-content: space-between;
            .header_logo{
                width: 169px;
            }
            .header_nav{
                width: 545px;
                display: flex;
                justify-content: space-between;
                .header_nav_el{
                    font-size: 24px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
            .header_languageThemeCon{
                width: 182px;
                display: flex;
                justify-content: space-between;
                .header_theme{
                    width: 67px;
                    height: 34px;
                    background-color: #13161B;
                    display: flex;
                    justify-content: flex-end;
                    border-radius: 20px;
                    cursor: pointer;
                    .header_themeCircle{
                        width: 34px;
                        height: 34px;
                        background-color: #CB324D;
                        border: #13161B 3px solid;
                        border-radius: 50%;
                    }
                }
                .header_language{
                    border: none;
                    background-color: #CB324D;
                    font-size: 24px;
                    font-weight: 600;
                }
            }
        }
        .mainPage_background{
            width: 100%;
            height: 99%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            option{
                border: none;
            }
        }
        .mainPage_content{
            width: 100%;
            display: flex;
            justify-content: space-between;
            z-index: 200;
            position: relative;
            margin-top: 60px;
            .mainPage_content_textPart{
                width: 50%;
                height: 340px;
                .mainPage_content_title{
                    font-size: 64px;
                    font-weight: 700;
                }
                .mainPage_content_text{
                    font-size: 20px;
                    font-weight: 300;
                    color: #ffffffbd;
                    width: 90%;
                }
                .mainPage_content_buttons{
                    width: 570px;
                    display: flex;
                    justify-content: space-between;
                }
                .mainPage_content_button{
                    width: 268px;
                    height: 79px;
                    background-color: #13161B;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 30px;
                    color: #CB324D;
                    font-size: 32px;
                    font-weight: 600;
                    cursor: pointer;
                    transition: 0.5s ease;
                    margin-top: 30px;
                }
                .mainPage_content_button:hover{
                    background-color: #CB324D;
                    color: #13161B;
                    border: 3px solid #13161B;
                    box-shadow: #13161B 3px 3px 0;
                }
            }
            .mainPage_content_imgPart{
                width: 50%;
            }
        }

    }
}