* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MuseoModerno;
}

::-moz-selection {
  background-color: #13161B;
  color: #CB324D;
}

::selection {
  background-color: #13161B;
  color: #CB324D;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #13161B;
}

::-webkit-scrollbar-thumb {
  background: #CB324D;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #882133;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  background-color: #13161B;
}
.wrap .screen {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
}
.wrap .mainPage {
  position: relative;
  color: #13161B;
}
.wrap .mainPage .header {
  position: relative;
  z-index: 3;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: space-between;
}
.wrap .mainPage .header .header_burger {
  width: 40px;
  height: 26px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.wrap .mainPage .header .header_burger .header_burgerRow {
  width: 100%;
  height: 4px;
  border-radius: 20px;
  background-color: #13161B;
}
.wrap .mainPage .header .header_logo {
  width: 169px;
}
.wrap .mainPage .header .header_nav {
  width: 545px;
  display: flex;
  justify-content: space-between;
}
.wrap .mainPage .header .header_nav .header_nav_el {
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
.wrap .mainPage .header .header_languageThemeCon {
  width: 182px;
  display: flex;
  justify-content: space-between;
}
.wrap .mainPage .header .header_languageThemeCon .header_theme {
  width: 67px;
  height: 34px;
  background-color: #13161B;
  display: flex;
  justify-content: flex-end;
  border-radius: 20px;
  cursor: pointer;
}
.wrap .mainPage .header .header_languageThemeCon .header_theme .header_themeCircle {
  width: 34px;
  height: 34px;
  background-color: #CB324D;
  border: #13161B 3px solid;
  border-radius: 50%;
}
.wrap .mainPage .header .header_languageThemeCon .header_language {
  border: none;
  background-color: #CB324D;
  font-size: 24px;
  font-weight: 600;
}
.wrap .mainPage .header a {
  color: #13161B;
  text-decoration: none;
}
.wrap .mainPage .mainPage_background {
  width: 100%;
  height: 99%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.wrap .mainPage .mainPage_background option {
  border: none;
}
.wrap .mainPage .mainPage_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 200;
  position: relative;
  margin-top: 60px;
}
.wrap .mainPage .mainPage_content .mainPage_content_textPart {
  width: 50%;
  height: 340px;
}
.wrap .mainPage .mainPage_content .mainPage_content_textPart .mainPage_content_title {
  font-size: 64px;
  font-weight: 700;
}
.wrap .mainPage .mainPage_content .mainPage_content_textPart .mainPage_content_text {
  font-size: 20px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7411764706);
  width: 90%;
}
.wrap .mainPage .mainPage_content .mainPage_content_textPart .mainPage_content_buttons {
  width: 570px;
  display: flex;
  justify-content: space-between;
}
.wrap .mainPage .mainPage_content .mainPage_content_textPart .mainPage_content_button {
  width: 268px;
  height: 79px;
  background-color: #13161B;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: #CB324D;
  font-size: 32px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s ease;
  margin-top: 30px;
}
.wrap .mainPage .mainPage_content .mainPage_content_imgPart {
  width: 50%;
  height: 340px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wrap .mainPage .mainPage_content .mainPage_content_imgPart .mainPage_content_imgPart_FullImg {
  position: relative;
  width: 100%;
  height: 100%;
}
.wrap .mainPage .mainPage_content .mainPage_content_imgPart .mainPage_content_imgPart_FullImg .mainPage_bowlImg {
  width: 252px;
  position: absolute;
  bottom: 0;
  left: 110px;
}
.wrap .mainPage .mainPage_content .mainPage_content_imgPart .mainPage_content_imgPart_FullImg .mainPage_sushiImg {
  width: 420px;
  position: absolute;
  left: 185px;
  bottom: 45px;
  transition: 1s ease;
}
.wrap .locationPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .locationPage .locationPage_title {
  font-size: 48px;
  font-weight: 700;
  color: #F73859;
}
.wrap .locationPage .locationPage_worldContainer {
  width: 100%;
  height: 420px;
  position: relative;
}
.wrap .locationPage .locationPage_worldContainer .mainlandImg {
  position: absolute;
  transition: 0.5s ease;
}
.wrap .locationPage .locationPage_worldContainer #NorthAmerica {
  width: 255px;
  height: 229px;
  left: 328px;
}
.wrap .locationPage .locationPage_worldContainer #SouthAmerica {
  width: 160px;
  height: 228px;
  top: 185px;
  left: 447px;
}
.wrap .locationPage .locationPage_worldContainer #Africa {
  width: 240px;
  height: 256px;
  left: 590px;
  top: 100px;
  z-index: 20;
}
.wrap .locationPage .locationPage_worldContainer #Eurasia {
  width: 475px;
  height: 244px;
  left: 613px;
  z-index: 19;
}
.wrap .locationPage .locationPage_worldContainer #Oceania {
  width: 200px;
  height: 201px;
  left: 920px;
  top: 184px;
}
.wrap .locationPage .locationPage_statistics {
  width: 683px;
  display: flex;
  justify-content: space-between;
}
.wrap .locationPage .locationPage_statistics .locationPage_statistics_column {
  width: 171px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.wrap .locationPage .locationPage_statistics .locationPage_statistics_column .locationPage_statistics_num {
  font-size: 36px;
  font-weight: 500;
  color: #F73859;
}
.wrap .locationPage .locationPage_statistics .locationPage_statistics_column .locationPage_statistics_desc {
  width: 140px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}/*# sourceMappingURL=style.css.map */