*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MuseoModerno;
}
::selection{
    background-color: #13161B;
    color: #CB324D;
}
::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #13161B; 
}

::-webkit-scrollbar-thumb {
    background: #CB324D; 
    border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #882133; 
}

.wrap{
    width: 100%;
    min-height: 100vh;
    background-color: #13161B;
    overflow-x: hidden;
    padding: 40px;
    display: flex;
    flex-direction: column;
        .header{
            position: relative;
            z-index: 3;
            user-select: none;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .header_title{
                font-size: 40px;
                font-weight: 600;
                color: #F73859;
            }
            .header_burger{
                width: 40px;
                height: 26px;
                display: none;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                .header_burgerRow{
                    width: 100%;
                    height: 4px;
                    border-radius: 20px;
                    background-color: #F73859;
                }
            }
            .header_logo{
                width: 169px;
                height: 45px;
            }
            .header_nav{
                width: 545px;
                display: flex;
                justify-content: space-between;
                .header_nav_el{
                    font-size: 24px;
                    font-weight: 500;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .headerActivePage{
                        width: 40px;
                        height: 2px;
                        border-radius: 5px;
                        background-color: #F73859;
                    }
                }
                #orders{
                    position: relative;
                    .ordersCount{
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #F73859;
                        color: #13161B;
                        width: 17px;
                        height: 17px;
                        border-radius: 50%;
                        font-size: 12px;
                        font-weight: 700;
                        top: 2px;
                        left: 68px;
                    }
                }
            }
            .header_languageThemeCon{
                width: 182px;
                display: flex;
                justify-content: space-between;
                .header_theme{
                    width: 67px;
                    height: 34px;
                    background-color: #F73859;
                    display: flex;
                    justify-content: flex-end;
                    border-radius: 20px;
                    cursor: pointer;
                    .header_themeCircle{
                        width: 34px;
                        height: 34px;
                        background-color: #13161B;
                        border: #F73859 3px solid;
                        border-radius: 50%;
                    }
                }
                .header_language{
                    border: none;
                    background-color: #13161B;
                    font-size: 24px;
                    font-weight: 600;
                    color: #F73859;
                }
            }
            a{
                color: #F73859;
                text-decoration: none;
            }
        }
        .navPageCon{
            width: 100%;
            display: flex;
            .nav{
                margin-top: 30px;
                .nav_el{
                    font-size: 20px;
                    font-weight: 300;
                    color: #fff;
                    width: 200px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    cursor: pointer;
                    transition: 0.2s ease;
                    i{
                        font-size: 15px;
                    }
                }
                .nav_el:hover{
                    color: #a71f38;
                }
                #activePage{
                    color: #F73859;
                }
            }
            .FilingCon{
                    margin-top: 30px;
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    .charts{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        #profitsReport{
                            margin-left: 30px;
                            #myLineChart{
                                width: 650px; 
                                height: 100%; 
                            }
                        }
                        #dishesReport{
                            #myChart{
                                width: 550px; 
                                height: 100%; 
                            }
                        }
                    }
    
            }
            .FilingCon_Orders{
                margin-left: 55px;
                h1{
                    color: #fff;
                    font-size: 32px;
                    font-weight: 600;
                }
                .ordersContainer{
                    .order{
                        width: 100%;
                        height: 100px;
                        border: #F73859 1px solid;
                        border-radius: 20px;
                        padding: 25px;
                        margin-top: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .order_imgCon{
                            width: 120px;
                            .order_img{
                                height: 60px;
                            }
                        }
                        .order_basicInfo{
                            display: flex;
                            flex-direction: column;
                            width: 140px;
                            margin-left: 20px;
                            .order_dishName{
                                font-size: 24px;
                                font-weight: 400;
                                color: #fff;
                            }
                            .order_id{
                                font-size: 16px;
                                font-weight: 500;
                                color: #F73859;
                            }
                        }
                        .order_customerInfo{
                            width: 180px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            color: #fff;
                            padding-left: 40px;
                            .order_customerName{
                                font-size: 16px;
                                font-weight: 500;
                            }
                            .order_customerPhone{
                                font-size: 16px;
                                font-weight: 200;
                            }
                        }
                        .order_typeInfo{
                            width: 180px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            color: #fff;
                            padding-left: 40px;
                            .order_type{
                                font-size: 16px;
                                font-weight: 500;
                            }
                            .order_additionalType{
                                font-size: 16px;
                                font-weight: 200;
                            }
                        }
                        .order_price{
                            width: 70px;
                            padding-left: 40px;
                            display: flex;
                            align-items: center;
                            font-size: 20px;
                            font-weight: 700;
                            color: #fff;
                        }
                        // #dishStatus{
                        //     margin-left: 70px;
                        //     width: 142px;
                        //     height: 44px;
                        //     background-color: #F73859;
                        //     font-size: 16px;
                        //     font-weight: 400;
                        //     color: #13161B;
                        //     cursor: pointer;
                        //     padding: 0 15px 0 15px;
                        //     border: none;
                        //     outline: none;
                        //     border-radius: 5px;
                        // }
                        #dishStatus {
                            margin-left: 70px;
                            width: 142px;
                            height: 44px;
                            background-color: #F73859;
                            font-size: 16px;
                            font-weight: 400;
                            color: #13161B;
                            cursor: pointer;
                            padding: 0 15px 0 15px; /* Adjust padding as needed */
                            border: none;
                            outline: none;
                            border-radius: 5px;
                            background-clip: padding-box; /* Clip background to padding box */
                        }
                        
                        
                        

                    }
                }


            }
            .FilingCon_Complaints{
                margin-left: 55px;
                h1{
                    color: #fff;
                    font-size: 32px;
                    font-weight: 600;
                }
                .FilingCon_ComplaintsContainer{
                    width: 100%;
                    display: flex;
                    height: 66vh;
                    .complaint{
                        width: 320px;
                        height: 300px;
                        border: #F73859 1px solid;
                        padding: 15px;
                        border-radius: 20px;
                        margin: 12px 30px 0 0;
                        color: #fff;
                        .complaint_author{
                            display: flex;
                            .complaint_author_picture{
                                width: 50px;
                                height: 50px;
                            }
                            .complaint_nameTimeCon{
                                margin-left: 6px;
                                .complaint_time{
                                    font-size: 12px;
                                    font-weight: 300;
                                }
                                .complaint_name{
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: #F73859;
                                }
                            }
                        }
                        h5{
                            font-size: 16px;
                            font-weight: 400;
                            margin: 12px 0 6px 0;
                        }
                        .complaint_types{
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                        }
                        .complaint_type{
                            padding: 5px 7px 5px 7px;
                            font-size: 14px;
                            font-weight: 500;
                            background-color: rgba($color: #F73859, $alpha: 0.5);
                            border-radius: 5px;
                            margin-right: 7px;
                        }
                    }
                    .complaint_text{
                        font-size: 12px;
                        font-weight: 300;
                    }
                }

            }
            .FilingCon_Dishes_availability{
                color: #fff;
                font-size: 32px;
                margin-left: 30px;
            }
            .FilingCon_products{
                margin-left: 55px;
                h1{
                    color: #fff;
                    font-size: 32px;
                    font-weight: 600;
                }
                .productsAvailability{
                    width: 250px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 24px;
                    font-weight: 400;
                    color: #fff;
                    margin: 10px 0 10px 0;
                    user-select: none;
                    .productsAvailable{
                        color: #F73859;
                        cursor: pointer;
                    }
                    .productsToBuy{
                        cursor: pointer;
                    }
                }
                .productsContainer{
                    width: 100%;
                    flex-wrap: wrap;
                    padding-top: 70px;
                    display: flex;
                    .product{
                        width: 282px;
                        height: 220px;
                        padding: 15px;
                        border: #F73859 1px solid;
                        border-radius: 20px;
                        position: relative;
                        color: #fff;
                        margin: 0 25px 25px 0;
                        .productImg{
                            height: 103px;
                            margin-top: -70px;
                        }
                        .productAmountCircle{
                            width: 15px;
                            height: 15px;
                            background-color: rgba($color: #F73859, $alpha: 0.76);
                            border-radius: 50%;
                            position: absolute;
                            top: 11px;
                            right: 11px;
                        }
                        .productName{
                            font-size: 24px;
                            font-weight: 500;
                            color: #F73859;
                        }
                        .productAmountCon{
                            display: flex;
                            font-size: 20px;
                            font-weight: 300;
                            .productAmount{
                                font-weight: 500;
                                margin-left: 5px;
                            }
                        }
                        .productProviderCon{
                            display: flex;
                            font-size: 20px;
                            font-weight: 300;
                            .productProvider{
                                font-weight: 500;
                                margin-left: 5px;
                            }
                        }
                        .buyMoreProduct{
                            width: 119px;
                            height: 35px;
                            border: #F73859 1px solid;
                            border-radius: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #F73859;
                            font-size: 16px;
                            font-weight: 400;
                            background-color: #13161B;
                            outline: none;
                            margin-top: 12px;
                            transition: 0.5s ease;
                            cursor: pointer;
                        }
                        .buyMoreProduct:hover{
                            background-color: #F73859;
                            color: #13161B;
                        }
                    }
                }
            }
            .FilingCon_Reviews{
                margin-left: 55px;
                h1{
                    color: #fff;
                    font-size: 32px;
                    font-weight: 600;
                }
                .FilingCon_reviewsContainer{
                    width: 100%;
                    display: flex;
                    height: 66vh;
                    .review{
                        width: 320px;
                        height: 340px;
                        border: #F73859 1px solid;
                        padding: 15px;
                        border-radius: 20px;
                        margin: 12px 30px 0 0;
                        color: #fff;
                        .review_author{
                            display: flex;
                            .review_author_picture{
                                width: 50px;
                                height: 50px;
                            }
                            .review_nameTimeCon{
                                margin-left: 6px;
                                .review_time{
                                    font-size: 12px;
                                    font-weight: 300;
                                }
                                .review_name{
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: #F73859;
                                }
                            }
                        }
                        .review_starsCon{
                            margin-top: 10px;
                            .review_starsQuolity{
                                display: flex;
                                font-size: 16px;
                                margin-bottom: 10px;
                                align-items: center;
                                width: 180px;
                                justify-content: space-between;
                                .review_starsQuolity_stars{
                                    width: 110px;
                                    justify-content: space-between;
                                    display: flex;
                                    color: #F73859;
                                    margin-left: 6px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    .review_text{
                        font-size: 12px;
                        font-weight: 300;
                    }
                }
            }
            .FilingCon_help{
                color: #fff;
                margin-left: 55px;
                position: relative;
                height: 500px;
                .FilingCon_help_decoration{
                    width: 700px;
                    position: absolute;
                    right: -200px;
                    bottom: 0px;
                }
                .FilingCon_help_plane{
                    width: 0px;
                    position: absolute;
                    top: 205px;
                    right: 230px;
                    transition: 3s ease;
                }
                .FilingCon_help_InfoCon{
                    display: none;
                    h1{
                        font-size: 32px;
                        margin-bottom: 15px;
                    }
                    .FilingCon_help_description{
                        font-size: 15px;
                        font-weight: 300;
                        width: 425px;
                        margin-bottom: 15px;
                    }
                    .FilingCon_help_contacts{
                        .FilingCon_help_contact{
                            display: flex;
                            font-size: 16px;
                            font-weight: 500;
                            align-items: center;
                            margin-bottom: 10px;
                            i{
                                margin-right: 10px;
                                font-size: 20px;
                            }
                        }
                    }
                }


            }


        }
        .separativeLine_con{
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 110px 0 110px 0;
            .separativeLine{
                width: 80%;
                height: 2px;
                background-color: #fff;
            }
        }
        .statictics{
            width: 100%;
            padding: 0 120px 0 120px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .statictics_title{
                color: #F73859;
                font-size: 36px;
                font-weight: 500;
            }
            .statictics_elements{
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                .statictics_el{
                    text-align: center;
                    .statictics_el_number{
                        color: #F73859;
                        font-size: 40px;
                        font-weight: 700;
                    }
                    .statictics_el_text{
                        color: #fff;
                        font-size: 20px;
                        font-weight: 300;
                    }
                }
            }

        }

    }