*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MuseoModerno;
}
::selection{
    background-color: #13161B;
    color: #CB324D;
}
::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #13161B; 
}

::-webkit-scrollbar-thumb {
    background: #CB324D; 
    border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #882133; 
}

.wrap{
    width: 100%;
    min-height: 100vh;
    background-color: #13161B;
    overflow-x: hidden;
    padding: 40px;
    display: flex;
    flex-direction: column;
        .header{
            position: relative;
            z-index: 3;
            user-select: none;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .header_title{
                font-size: 40px;
                font-weight: 600;
                color: #F73859;
            }
            .header_burger{
                width: 40px;
                height: 26px;
                display: none;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                .header_burgerRow{
                    width: 100%;
                    height: 4px;
                    border-radius: 20px;
                    background-color: #F73859;
                }
            }
            .header_logo{
                width: 169px;
                height: 45px;
            }
            .header_nav{
                width: 545px;
                display: flex;
                justify-content: space-between;
                .header_nav_el{
                    font-size: 24px;
                    font-weight: 500;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .headerActivePage{
                        width: 40px;
                        height: 2px;
                        border-radius: 5px;
                        background-color: #F73859;
                    }
                }
                #orders{
                    position: relative;
                    .ordersCount{
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #F73859;
                        color: #13161B;
                        width: 17px;
                        height: 17px;
                        border-radius: 50%;
                        font-size: 12px;
                        font-weight: 700;
                        top: 2px;
                        left: 68px;
                    }
                }
            }
            .header_languageThemeCon{
                width: 182px;
                display: flex;
                justify-content: space-between;
                .header_theme{
                    width: 67px;
                    height: 34px;
                    background-color: #F73859;
                    display: flex;
                    justify-content: flex-end;
                    border-radius: 20px;
                    cursor: pointer;
                    .header_themeCircle{
                        width: 34px;
                        height: 34px;
                        background-color: #13161B;
                        border: #F73859 3px solid;
                        border-radius: 50%;
                    }
                }
                .header_language{
                    border: none;
                    background-color: #13161B;
                    font-size: 24px;
                    font-weight: 600;
                    color: #F73859;
                }
            }
            a{
                color: #F73859;
                text-decoration: none;
            }
        }
        .navPageCon{
            width: 100%;
            display: flex;
            .nav{
                margin-top: 30px;
                .nav_el{
                    font-size: 20px;
                    font-weight: 300;
                    color: #fff;
                    width: 200px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    cursor: pointer;
                    transition: 0.2s ease;
                    i{
                        font-size: 15px;
                    }
                }
                .nav_el:hover{
                    color: #a71f38;
                }
                #activePage{
                    color: #F73859;
                }
            }
            .FilingCon{
                    margin-top: 30px;
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    .charts{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        #profitsReport{
                            margin-left: 30px;
                            #myLineChart{
                                width: 650px; 
                                height: 100%; 
                            }
                        }
                        #dishesReport{
                            #myChart{
                                width: 550px; 
                                height: 100%; 
                            }
                        }
                    }
    
            }
            .FilingCon_Orders{
                margin-left: 55px;
                h1{
                    color: #fff;
                    font-size: 32px;
                    font-weight: 600;
                }
                .ordersContainer{
                    .order{
                        width: 100%;
                        height: 100px;
                        border: #F73859 1px solid;
                        border-radius: 20px;
                        padding: 17px;
                        margin-top: 15px;
                    }
                }


            }
            .FilingCon_Complaints{
                color: #fff;
                font-size: 32px;
                margin-left: 30px;
            }
            .FilingCon_Dishes_availability{
                color: #fff;
                font-size: 32px;
                margin-left: 30px;
            }
            .FilingCon_products{
                color: #fff;
                font-size: 32px;
                margin-left: 30px;
            }
            .FilingCon_review{
                color: #fff;
                font-size: 32px;
                margin-left: 30px;
            }
            .FilingCon_help{
                color: #fff;
                font-size: 32px;
                margin-left: 30px;
            }


        }
        .separativeLine_con{
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 110px 0 110px 0;
            .separativeLine{
                width: 80%;
                height: 2px;
                background-color: #fff;
            }
        }
        .statictics{
            width: 100%;
            padding: 0 120px 0 120px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .statictics_title{
                color: #F73859;
                font-size: 36px;
                font-weight: 500;
            }
            .statictics_elements{
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                .statictics_el{
                    text-align: center;
                    .statictics_el_number{
                        color: #F73859;
                        font-size: 40px;
                        font-weight: 700;
                    }
                    .statictics_el_text{
                        color: #fff;
                        font-size: 20px;
                        font-weight: 300;
                    }
                }
            }

        }

    }