@media screen and (max-device-width: 430px) {
    .wrap{
        width: 100%;
        overflow-x: hidden;
        padding: 24px;
            .header{
                .header_nav{
                    display: none;
                }
                .header_languageThemeCon{
                    display: none;
                }
                .header_burger{
                    display: flex;
                }
            }
            .ordersContainer{
                .order{
                    width: 382px;
                    height: 211px;
                    border-radius: 30px;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 18px;
                    position: relative;
                    .order_name{
                        font-size: 32px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }
                    .orderBtns{
                        width: 281px;
                        .orderBtn{
                            font-size: 24px;
                            font-weight: 400;
                            height: 61px;
                        }
                        margin-bottom: 15px;
                    }
                    .order_separetiveLine{
                        display: none;
                    }
                    .order_time{
                        font-size: 20px;
                        font-weight: 300;
                        padding: 0;
                    }
                    .order_price{
                        font-size: 24px;
                        font-weight: 600;
                        position: absolute;
                        width: 110px;
                        right: 0px;
                        top: 25px;
                    }
                }
            }
    }
    .orderPopupsContainer{
        .order_cancelPopup{
            width: 382px;
            height: 287px;
            padding: 20px;
            h2{
                font-size: 20px;
                font-weight: 700;
            }
            .order_cancelPopup_btns{
                width: 316px;
                .order_cancelPopup_btn{
                    width: 147px;
                    height: 64px;
                    border-radius: 20px;
                    font-size: 32px;
                    font-weight: 400;
                }
            }
            .order_cancelPopup_additionalInfo{
                font-size: 13px;
                margin-top: 20px;
            }
        }
    }
 }