* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MuseoModerno;
}

::-moz-selection {
  background-color: #13161B;
  color: #CB324D;
}

::selection {
  background-color: #13161B;
  color: #CB324D;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #13161B;
}

::-webkit-scrollbar-thumb {
  background: #CB324D;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #882133;
}

body {
  overflow: hidden;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  background-color: #13161B;
  overflow-x: hidden;
  padding: 40px;
}
.wrap .header {
  position: relative;
  z-index: 3;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: space-between;
}
.wrap .header .header_burger {
  width: 40px;
  height: 26px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.wrap .header .header_burger .header_burgerRow {
  width: 100%;
  height: 4px;
  border-radius: 20px;
  background-color: #F73859;
}
.wrap .header .header_logo {
  width: 169px;
}
.wrap .header .header_nav {
  width: 545px;
  display: flex;
  justify-content: space-between;
}
.wrap .header .header_nav .header_nav_el {
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .header .header_nav .header_nav_el .headerActivePage {
  width: 40px;
  height: 2px;
  border-radius: 5px;
  background-color: #F73859;
}
.wrap .header .header_nav #orders {
  position: relative;
}
.wrap .header .header_nav #orders .ordersCount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F73859;
  color: #13161B;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  top: 2px;
  left: 68px;
}
.wrap .header .header_languageThemeCon {
  width: 182px;
  display: flex;
  justify-content: space-between;
}
.wrap .header .header_languageThemeCon .header_theme {
  width: 67px;
  height: 34px;
  background-color: #F73859;
  display: flex;
  justify-content: flex-end;
  border-radius: 20px;
  cursor: pointer;
}
.wrap .header .header_languageThemeCon .header_theme .header_themeCircle {
  width: 34px;
  height: 34px;
  background-color: #13161B;
  border: #F73859 3px solid;
  border-radius: 50%;
}
.wrap .header .header_languageThemeCon .header_language {
  border: none;
  background-color: #13161B;
  font-size: 24px;
  font-weight: 600;
  color: #F73859;
}
.wrap .header a {
  color: #F73859;
  text-decoration: none;
}
.wrap .contactsConainer {
  width: 100%;
  display: flex;
  margin-top: 10px;
}
.wrap .contactsConainer .connectionForm {
  width: 50%;
}
.wrap .contactsConainer .connectionForm h1 {
  font-size: 40px;
  font-weight: 700;
  color: #F73859;
}
.wrap .contactsConainer .connectionForm h5 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}
.wrap .contactsConainer .connectionForm .connectionForm_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 488px;
}
.wrap .contactsConainer .connectionForm .connectionForm_form input {
  width: 488px;
  height: 58px;
  border-radius: 20px;
  border: 2px #F73859 solid;
  background-color: #13161B;
  padding: 14px;
  outline: none;
  color: #fff;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
}
.wrap .contactsConainer .connectionForm .connectionForm_form textarea {
  width: 488px;
  height: 238px;
  border-radius: 20px;
  border: 2px #F73859 solid;
  background-color: #13161B;
  padding: 14px;
  resize: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.wrap .contactsConainer .connectionForm .connectionForm_form #sendBtn {
  width: 175px;
  height: 69px;
  border-radius: 20px;
  background-color: #fff;
  color: #13161B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 400;
  cursor: pointer;
  margin-top: -35px;
  transition: 0.5s ease;
}
.wrap .contactsConainer .connectionForm .connectionForm_form #sendBtn:hover {
  background-color: #F73859;
  color: #13161B;
}
.wrap .contactsConainer .separetiveLine {
  width: 2px;
  height: 560px;
  border-radius: 6px;
  background-color: #F73859;
  margin: 0 50px;
}
.wrap .contactsConainer .locationAndHours {
  width: 50%;
}
.wrap .contactsConainer .locationAndHours h1 {
  font-size: 40px;
  font-weight: 700;
  color: #F73859;
}
.wrap .contactsConainer .locationAndHours h5 {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}
.wrap .contactsConainer .locationAndHours .locationAndHours_hoursAndMedia {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.wrap .contactsConainer .locationAndHours .locationAndHours_hoursAndMedia .locationAndHours_hours .locationAndHours_hours_daysClasification {
  display: flex;
  font-size: 16px;
  font-weight: 400;
}
.wrap .contactsConainer .locationAndHours .locationAndHours_hoursAndMedia .locationAndHours_hours .locationAndHours_hours_daysClasification .locationAndHours_hours_days {
  color: #F73859;
}
.wrap .contactsConainer .locationAndHours .locationAndHours_hoursAndMedia .locationAndHours_hours .locationAndHours_hours_daysClasification .locationAndHours_hours_hours {
  color: #fff;
  margin-left: 6px;
}
.wrap .contactsConainer .locationAndHours .locationAndHours_hoursAndMedia .locationAndHours_media {
  width: 225px;
  display: flex;
  justify-content: space-between;
  color: #F73859;
}
.wrap .contactsConainer .locationAndHours .locationAndHours_hoursAndMedia .locationAndHours_media i {
  font-size: 40px;
  transition: 0.3s ease;
}
.wrap .contactsConainer .locationAndHours .locationAndHours_hoursAndMedia .locationAndHours_media i:hover {
  color: #fff;
}
.wrap .contactsConainer .locationAndHours iframe {
  margin-top: 28px;
}
.wrap .contactsConainer .locationAndHours a {
  text-decoration: none;
}
.wrap .contactsConainer .locationAndHours a button {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13161B;
  color: #fff;
  border-radius: 20px;
  border: 2px solid #F73859;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.5s ease;
}
.wrap .contactsConainer .locationAndHours a button i {
  margin-right: 15px;
}
.wrap .contactsConainer .locationAndHours a button:hover {
  background-color: #F73859;
  color: #fff;
}/*# sourceMappingURL=contacts.css.map */