@media screen and (max-device-width: 430px) {
    .wrap{
        width: 100%;
        padding: 24px;
        overflow: scroll;
            .header{
                .header_nav{
                    display: none;
                }
                .header_languageThemeCon{
                    display: none;
                }
                .header_burger{
                    display: flex;
                }
            }
            .contactsConainer{
                flex-direction: column;
                .connectionForm{
                    width: 100%;
                }
            }
    }
 }