@media screen and (max-device-width: 430px) {
    body{
        overflow: auto;
        .burgerCon{
            width: 100%;
            height: 100vh;
            position: fixed;
            background-color: rgba(19, 22, 27, 0.8);
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            padding: 20px;
            .burger{
                width: 100%;
                height: 400px;
                background-color: #F73859;
                border-radius: 20px;
                padding: 15px;
                position: relative;
                display: flex;
                flex-direction: column;
                .burger_xmark{
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    font-size: 32px;
                }
                .burger_link{
                    color: #13161B;
                    font-size: 32px;
                    font-weight: 400;
                    text-decoration: none;
                }
            }
        }
        .wrap{
            width: 100%;
            padding: 24px;
                .header{
                    .header_nav{
                        display: none;
                    }
                    .header_languageThemeCon{
                        display: none;
                    }
                    .header_burger{
                        display: flex;
                    }
                }
                .contactsConainer{
                    flex-direction: column;
                    .connectionForm{
                        width: 100%;
                        h5{
                            font-size: 16px;
                            font-weight: 400;
                        }
                        .connectionForm_form{
                            width: 381px;
                            input{
                                width: 381px;
                            }
                            textarea{
                                width: 381px;
                            }
                        }
                    }
                    .separetiveLine{
                        width: 381px;
                        height: 2px;
                        margin: 50px 0;
                    }
                    .locationAndHours{
                        width: 100%;
                        .locationAndHours_hoursAndMedia{
                            flex-direction: column;
                            align-items: flex-start;
                            .locationAndHours_media{
                                margin: 25px 0 0 0;
                            }
                        }
                    }
                }
        }
    }


 }